<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>absolute in span3</title>
</head>
<body>
  <p style="border:1px solid red; width:200px; padding:20px; direction:rtl;">
      T
      <span style="background-color:#C0C0C0; position:relative;">
            这段文字从右向左排列，红 XX 和 蓝 XX 和黄 XX 都是绝对定位元素，它的包含块是相对定位的SPAN。可以通过它们绝对定位的位置来判断它们……
          <em style="position:absolute; color:red; top:0; left:0;">XX</em>
          <em style="position:absolute; color:yellow; top:20px; left:0;">XX</em>
          <em style="position:absolute; color:blue; bottom:0; right:0;">XX</em>
      </span>
      TEXT TEXXT
  </p>
</body>
</html>