<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .wrapper {
      width: 300px;
      height: 100px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <span style="padding-top: 20px;background-color: green;">加了padding-top的span，为了明显，加了第二行，为了明显，加了第二行</span>
  </div>
  <div class="wrapper">
    <span style="padding-bottom: 20px;background-color: blue;">加了padding-bottom的span</span>
  </div>
  <div class="wrapper">
    <span style="padding-left: 20px;background-color: orange;">加了padding-top的span</span>
  </div>
  <div class="wrapper">
    <span style="padding-right: 60px;background-color: red;">加了padding-right的span，为了比较明显，我要加长我的文字。为了比较明显，我要加长我的文字。为了比较明显，我要加长我的文字。为了比较明显，我要加长我的文字。为了比较明显，我要加长我的文字。为了比较明显，我要加长我的文字。为了比较明显，我要加长我的文字。</span>
  </div>
</body>
</html>