<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div style="width: 400px; height:200px;border:1px solid #ccc;">
    Some Text
    <p>More Text</p>
    <span>Something else in the first span tag.</span>
    <span>I am the second span tag.</span>
  </div>
  <div style="width: 400px; height:200px;border:1px solid #ccc;margin-top: 10px;">
      Some Text
      <em>More Text</em>
      <span>Something else</span>
    </div>
</body>
</html>